*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
a{
  text-decoration: none;
}
html,body,#root{
  height: 100%;
  -webkit-overflow-scrolling:touch;  /*解决 iphone 滑动平滑的问题*/
}
/*容器 主轴*/
.root{
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media(min-width:750px){
  .root{
    flex-direction: row;
  }
}
/*项目*/
header{
  height: 80px;
  flex-shrink: 0;
  display: flex;
  align-items: center;  /*子元素在主轴垂直居中*/
  background-color: #f5f5f5;
  justify-content:space-between;
  padding: 0 10px;
}
footer{
  height: 80px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  justify-content: space-around;
  text-align: center;
}
.mywrap{
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
}
.btn{
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 9px;
  font-family: inherit;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  outline: none;
}
.btn:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
footer a{
  flex-grow: 1;
  border-right: 1px solid #ccc;
  color: #555;
}
footer a:last-child{
  border: none;
}
.home{
  width: 100%;
  background-image: url(./image/home-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
.home-cover{
  height: 50%;
  margin-top: 25%;
  background-color: rgba(245,245,245,0.5);
  display: flex;
  /*flex-direction: column;*/
  align-items: center;/*在副轴居中(垂直居中)*/
  text-align: center;
  justify-content: center;/*在主轴居中*/
}
@media(min-width:750px){
  .home-cover{
    margin-top: 15%;
  }
}
.home-cover p{
  margin-bottom: 10px;
  opacity: 0.7;
}
.blog-card{
  width: 96%;
  margin: 20px auto;
  background-color: #f8f8f8;
}
.blog-index{
  color: #f1f1f1;
  background-color: rgb(0, 188, 212);
  text-align: center;
  line-height: 2.4;
  border-radius: 4px 4px 0 0;
}
.blog-desc{
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 6px;
  position: relative;
  border-radius: 4px;
}
.blog-desc h3{
  font-family: arial;
  color: #888;
}
.blog-desc p{
  font-size:14px;
  opacity: 0.8;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.blog-desc a:hover{
  color: #fff;
  background-color: rgb(0, 188, 212);
  border-color: #53c0e0;
}
.blog-desc span{
  position: absolute;
  right: 10px;
  bottom: 15px;
}
.leftnav{
  text-align: center;
}
.leftnav p{
  text-align: center;
}
.leftnav a{
  display: block;
  font-size: 18px;
  color: #555;
}

.work-warp .work-card{
  width: 250px;
  margin: 5em auto;
  background-color: #f8f8f8;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
@media(min-width:750px){
  .work-warp {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  .work-warp .work-card {
    height: 286px;
    margin: 6em auto;
  }
}
.work-card:hover{
  box-shadow: 0 0 40px 40px rgba(0,0,0,0.05);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 2;
}
.wc-p:hover{
  box-shadow: 0 0 40px 40px rgba(254,255,102,0.5);
}
.work-img{
  padding: 10px;
  height: 250px;
  background-image: url(./image/get-started.svg);
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 4px 4px 0 0;
}
.work-title{
  color: rgba(0, 0, 0, 0.870588);
  background-color: rgb(238, 238, 238);
  text-align: center;
  line-height: 2.4;
  border-radius: 0 0 4px 4px;
  font-weight: 500;
}
.work-title span{
  font-weight: normal;
  font-size: 13px;

}
.about-warp{
  width: 90%;
  /*float: right;*/
  height: 150%;
  margin: 3em 0 0 5em;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.870588);
  font-family: Roboto, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
}
.about-warp .about-warp-header{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 5%;
  padding: 0px 24px;
  background-color: rgb(232, 232, 232);
  text-align: center;
  line-height: 3em;
  font-size: 20px;
  font-family: arial;
  font-weight: bold;
}
.about-warp .about-warp-mid{
  width: 99%;
}
.about-warp .about-warp-mid .about-card{
  width: 95%;
  margin: 3em auto;
}
