.post-content {
  overflow-x: auto;
  color: #6d6d6d;
  line-height: 1.8;
  width: 96%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #fff;
  padding-top: 1em;
  padding-bottom: 30px;
  padding-left: 1em;
  padding-right: 1em;
}
.post-content h1 {
  text-align: center;
  font-size: 1.5em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.post-content h3 {
  text-align: center;
  font-size: 1.5em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.post-content ol {
  padding-left: 20px;
}
.post-content ul {
  padding-left: 20px;
}
.post-content li {
  list-style-type: circle;
}
.post-content pre {
  background-color: #f8f8f8;
  /* background-color: #262a2d; */
  /* background-color: #043362; */
  border-radius: 4px;
  display: block;
  padding: 20px;
  margin: 20px 0;
  font-size: 14px;
  color: #777777;
  overflow-x: auto;
  font-weight: 600;
}
.post-content pre code {
  background-color: none;
}
.post-content p code {
  font-size: 14px;
  background-color: rgba(254,255,102,.5);
  padding: 4px;
  border-radius: 2px;
}
.post-content blockquote {
  border-left: 5px solid #dedfe0;
  font-style: italic;
  font-weight: 400;
  padding-left: 20px;
  line-height: 30px;
  margin-bottom: 33px;
  margin-top: 33px;
  margin-left: 0;
  background-color: #f8f8f8;
}
.post-content p {
  color: #606060;
  font-weight: 400;
  line-height: 1.95;
  margin-bottom: 20px;
}
.post-content img {
  width: 50%;
  display: block;
  height: auto;
}
.post-content a {
  color: #7882FF;
  text-decoration: none;
}
.post-content a:hover {
  color: #7A7AA5;
}
.post-content a.video {
  display: block;
  line-height: 2.3;
  text-align: center;
}
